/* src/components/WaysMobile.css */
.ways-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    flex-wrap: wrap;
  }
  
  .ways-mobile-icon {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .ways-mobile-icon img {
    max-width: 60px;
    height: auto;
  }
  
  /* Ocultar en desktop */
  @media (min-width: 768px) {
    .ways-mobile {
      display: none;
    }
  }
  